
	<footer role="contentinfo">
		<div class="hr"></div>
		<div class="footer-link">
			{{ with .Site.Params.Email }}<a href="mailto:{{ . }}" target="_blank">Email</a>{{ end }}
			{{ with .Site.Params.Twitter }}<a href="https://twitter.com/{{ . }}" target="_blank">Twitter</a>{{ end }}
			{{ with .Site.Params.Facebook }}<a href="{{ . }}" target="_blank">Facebook</a>{{ end }}
			{{ with .Site.Params.Github }}<a href="{{ . }}" target="_blank">GitHub</a>{{ end }}
		</div>
		<div class="copyright">
			<p>&copy; {{ .Site.LastChange.Year }} {{ if isset .Site.Params "Author" }} {{ .Site.Params.Author }} {{ end }} - {{ .Site.Title }}</p>
		</div>

	</footer>

</div>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6FR665"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
