<aside class="three columns">

  <section class="sidebar-module">
    <div class="booklink-box">
      <div class="booklink-image">
        <a href=https://www.amazon.co.jp/%E3%83%8F%E3%83%AF%E3%82%A4%E6%9C%AC%E3%82%AA%E3%82%A2%E3%83%95%E6%9C%80%E6%96%B02017-%E3%82%A8%E3%82%A4%E3%83%A0%E3%83%83%E3%82%AF-3383-%E3%83%8F%E3%83%AF%E3%82%A4%E3%82%B9%E3%82%BF%E3%82%A4%E3%83%AB%E7%B7%A8%E9%9B%86%E9%83%A8/dp/4777940152%3FSubscriptionId%3DAKIAI6MZOKQQCKBKJBLQ%26tag%3Dicossahawaii-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4777940152>
          <img src="https://images-fe.ssl-images-amazon.com/images/I/511tQwdbH1L._SL160_.jpg" />
        </a>
      </div>
      <div class="booklink-info">
        <div class="booklink-name">
          <a href="http://www.amazon.co.jp/exec/obidos/asin/4777940152/icossahawaii-22/">ハワイ本オアフ最新2017 (エイムック 3383)</a>
        </div>
        <div class="shoplinkamazon">
          <a href="http://www.amazon.co.jp/exec/obidos/asin/4777940152/icossahawaii-22/">Amazonで買う</a>
        </div>
        <div class="shoplinkrakuten">
          <a href="http://hb.afl.rakuten.co.jp/hgc/10b944e1.69649a36.10b944e2.c5d6d56c/?pc=http://search.rakuten.co.jp/search/mall?sitem=ハワイ本&m=http://m.rakuten.co.jp/">楽天で買う</a>
        </div>
        <div class="shoplinkyahoo">
          <a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3067752&pid=884189678&vc_url=http://search.shopping.yahoo.co.jp/search?p=ハワイ本">Yahoo!で買う</a>
        </div>
      </div>
    </div>
    <h2>Latest</h2>
    <ul class="list-unstyled urllist">
      {{ range first 5 .Site.Pages }}
      <li>
        <div>
          <a href="{{ .Permalink }}"><img class="urllist-img" src="{{ if isset .Params "img" }}{{ .Params.img }}{{ else }}/images/nopicture.png{{end}}" alt="{{ .Title}}" width="75"></a>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </div>
      </li>
      {{ end }}
    </ul>
  </div>
  </section>

</aside>
